@model IEnumerable<TransferAggr.WebMvc.Models.Request>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RequestId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.From)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.To)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.From.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.To.Address)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.RequestId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.RequestId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.RequestId })
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <p>No items found</p>
}